
div.container {
  width: 100vw;
  height: 100vh;
  margin: 3vw 0vw 5vw -1vw;
  padding: 0;
}
div.cards {
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
p.name {
  background-color: $dinoGreen;
  background-image: url("./../../img/baby-37796.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  width: 20%;
  height: 30%;
  margin: 1%;
  padding: 0em 0em .5em 0em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: .5em;
  box-shadow: 1px 1px 5px gray;
}
// p.name:before {
//   content: "";
//   position: absolute;
//   width: 50%;
//   height: 50%;
//   top: -50%;
//   left: -50%;
//   background: url("./../../img/baby-37796.svg") center center no-repeat;
//   -webkit-transform: rotate(-15deg);
//   animation: animatedBackground .5s 2s 2;
// }

//
// @keyframes animatedBackground {
//   0%, 100% { transform: rotate(-30deg); }
//   20% {transform:scale(.95);}
//   50% { transform: rotate(30deg); }
//   80% {transform:scale(.95);}
// }
