// Descriptive Base Colors

$white          : #fff;
$black          : #0b0b0b;
$grey           : #797e83;

$dinoGreen      : #698000;
$dinoBlue       : #34495e;
$dinoGrey       : #cccccc;


// Base font size

$base__font-size : 14px;
$base__line      : 24px;


$font-url--google         : "https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,600i,700,700i,800,800i,900|Nunito:300,300i,400,400i,600,600i,800";


$helvetica-font-stack     : "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$stack-dinoSans           : 'Nunito Sans', $helvetica-font-stack;
$stack-dinoDisplay          : 'Nunito', sans-serif;


$font-family--primary     : $stack-dinoSans;

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';




// Breakpoints

// Media queries

// $brk-narrow   : '(max-width: 768px)';
// $brk-medium   : '(max-width:960px)';
// $brk-wide     : '(max-width:1240px)';


// @media only screen and (min-device-width : 320px) and (max-device-width : 480px)

/* Smartphones (landscape) ----------- */
// @media only screen and (min-width : 321px)
/* Styles */


/* Smartphones (portrait) ----------- */
// @media only screen and (max-width : 320px)
/* Styles */

/* Desktops and laptops ----------- */
// @media only screen  and (min-width : 1224px)
/* Styles */


/* Large screens ----------- */
// @media only screen  and (min-width : 1824px)
/* Styles */
